@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color: #353535;
    --color-primary: #353535;
    --color-secondary: #353535;
    --bg: #F9F9F9;
    --bg-secondary: #F9F9F9;
    --border-color: #F9F9F9;
}

.dark {
    --color: #F9F9F9;
    --color-primary: #F9F9F9;
    --color-secondary: #F9F9F9;
    --bg: #1b1b1b;
    --bg-secondary: #1b1b1b;
    --border-color: #1b1b1b;
}

body {
    /* overflow-x: hidden; Hide horizontal scrollbar */
    background-color: #F9F9F9;
    color: #353535;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow: overlay;
    @apply dark:text-[#F9F9F9] dark:bg-[#1b1b1b];
}

h1 {
    @apply font-serif;
}

div.card-body {
    vertical-align: bottom;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.card-title {
    text-transform: lowercase;
}

.nav-item {
    opacity: 0.8;
    display: inline-block !important;
    position: relative !important;
}

.nav-item:hover {
    opacity: 1;
}

.nav-item::before {
    transition: 0ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #353535;
    @apply dark:bg-[#F9F9F9];
    width: 0%;
    bottom: 0px;
}

.nav-item:hover::before {
    width: 100%;
}

.project-colour-block {
    width: 100vw;
    min-height: 100vh;
}

a:not(.no-highlight) {
    background:
       linear-gradient(
         to bottom, #353535 0%,
         #353535 100%
       );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    text-decoration: none;
    transition: background-size .2s;
}

code {
    white-space : pre-wrap !important;
}

span.token.operator {
    background-color: transparent;
}
  
a:not(.no-highlight):hover {
    background-size: 4px 50px;
    color: #F9F9F9;
}

pre {
    text-shadow: none !important;
}

.nuxt-content-highlight {
    @apply bg-gray-200 dark:bg-gray-800;
}

body::-webkit-scrollbar {
    width: 20px;
}
  
body::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}
  
body::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: rgba(53,53,53, 0.8);
    @apply dark:bg-white-scrollbar;
}

.line-drawing {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(22%) sepia(34%) saturate(0%) hue-rotate(32deg) brightness(94%) contrast(89%);
    @apply dark:invert-[0.93] dark:hue-rotate-[0deg] dark:contrast-[1.0];
    /* filter: invert(93%) sepia(8%) saturate(101%) hue-rotate(186deg) brightness(100%) contrast(90%) */
}

.feather {
    cursor: pointer;
    margin-left: 1em;
    transition: all 0.1s ease;
}

.feather.selected {
    color: var(--color-primary);
}

.svg-icon {
    display: inline-flex;
    align-self: center;
  }
  .svg-icon svg {
    height:1em;
    width:1em;
  }
  .svg-icon.svg-baseline svg {
    top: .125em;
    position: relative;
  }